/* 定义一个公共主体颜色变量 */
html {
  /* 设置 根元素在 375屏幕下的时候 是100px   100px就是 26.66667vw */
  font-size: 26.66667vw;
}
body {
  /* Mui默认是17px */
  font-size: .14rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
/* 设置我们的html根元素来实现rem适配 */
/* 去掉默认的间距 */
* {
  margin: 0;
  padding: 0;
}
img {
  /* 解决图片和块级元素3px间隙问题 */
  vertical-align: middle;
}
/* 实现头部 中间 底部的上中下布局 给body设置 flex布局 让头部和底部高度固定 中间flex1 自适应 */
body {
  display: flex;
  /* 设置flex主轴方向是垂直 */
  flex-direction: column;
  /* 推荐使用100vh 不需要给父元素html设置高度 自然和页面一样高 */
  height: 100vh;
  /* 使用固定的定位的方式设置padding把内容挤到中间来 */
  /* padding: .45rem 0; */
}
/* 头部区域的公共样式   */
/* 中间主体部分flex:1 自适应
但是内容可能会超出 所以要设置一个overflow:hidden才能生效 flex:1的高度 */
/* 底部区域的公共样式 */
.mui-scrollbar-indicator {
  background-color: rgba(255, 0, 0, 0.39804);
}
#header {
  position: fixed;
  display: flex;
  background-color: #006699;
  color: #fff;
  width: 100%;
  top: 0;
  left: 0;
}
#header .left {
  height: 45px;
  width: 45px;
}
#header .center {
  flex: 1;
  text-align: center;
}
#header .center h4 {
  line-height: 45px;
}
#header .right {
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 45px;
}
#footer {
  background-color: #006699;
  height: 45px;
  padding: 5px;
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
}
#footer a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  color: #fff;
}
#footer a i {
  text-align: center;
}
#footer a span {
  text-align: center;
}
#footer a.active {
  color: orange;
}
#main {
  padding: 45px 0;
  height: 100vh;
}
#main .swiper-container {
  height: 100%;
}
#main .swiper-container .swiper-slide {
  height: auto;
}
#main .slider {
  width: 100%;
}
#main .mui-scroll-wrapper {
  position: relative;
  height: 100%;
}
#main .mui-scroll-wrapper a {
  display: block;
}
#main .mui-scroll-wrapper a img {
  width: 100%;
}
#main .mui-scroll-wrapper a .nav {
  padding: 10px;
}
#main .mui-scroll-wrapper .banner .left a {
  display: flex;
}
#main .mui-scroll-wrapper .banner .left a img {
  height: 120px;
  width: 50%;
}
#main .mui-scroll-wrapper .banner .right a {
  display: flex;
  justify-content: center;
}
#main .mui-scroll-wrapper .banner .right a img {
  height: 240px;
}
#main .mui-scroll-wrapper .brand,
#main .mui-scroll-wrapper .sport,
#main .mui-scroll-wrapper .women,
#main .mui-scroll-wrapper .man {
  padding: 10px;
}
